@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/Bg.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.ui {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.8)),
    url("/dot.png");
  background-repeat: repeat;
  background-size: 500px;
  background-position: center;
}

@font-face {
  font-family: kodchasan;
  src: url("./assets/fonts/Kodchasan-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: kodchasan;
  src: url("./assets/fonts/Kodchasan-Regular.ttf");
  font-weight: 400;
}
